@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');

/* pure grid font overrides */
html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
  font-family: 'Montserrat', sans-serif;
}

*
{
  color:#fff;
}

body
{
  margin: 0;
  padding: 0;
  background-image: url("../images/bg_2500x920px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

#map
{
  position:relative;
  width: 384px;
  height:384px;
  background-image: url("../images/background_384x384px.png");
  margin: 0 auto;
  text-align: left;
 }

.cell
{
 display: block;
 position: absolute;
 width: 64px;
 height: 64px;
}

#message
{
  padding: 25px;
}

#messageInside
{
  padding: 12px;
  text-align: center;
  font-size: 16pt;
  background-color: #001c54;
  opacity: 0.7;
  color: #fff;
}

#counters
{
  padding: 25px;
}

#countersInside
{
  padding: 12px;
  text-align: left;
  font-size: 16pt;
  background-color: #8e0028;
  opacity: 0.7;
  color: #fff;
}

#countersHeader
{
  font-size: 20pt;
  text-align: center;
}

h1
{
  font-size: 50pt;
  text-align: center;
}

button {
  background-color: #555555;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
